:root {
	--search-input-btn-width: 2.5em;
	--search-input-icon-size: 1.25em;
	--select-icon-size: 1em;
	--select-icon-right-margin: var(--space-sm); // icon margin right
	--select-text-icon-gap: var(--space-xxxs); // gap between text and icon
	--icon-xs: 16px;
}

.search-input {
	margin-bottom: var(--space-sm);
}

.form-label {
	margin-bottom: var(--space-xxxs);
}
