form.full-screen-search
	label.sr-only(for='search-input-x') Search
	input#search-input-x.reset.full-screen-search__input(type='search' name='word_search' placeholder='Search...' required)
	button.reset.full-screen-search__btn
		svg.icon(viewBox='0 0 24 24')
			title Search
			g(stroke-linecap='square' stroke-linejoin='miter' stroke-width='2' stroke='currentColor' fill='none' stroke-miterlimit='10')
				line(x1='22' y1='22' x2='15.656' y2='15.656')
				circle(cx='10' cy='10' r='8')
