extends ./_layout.pug

block styles
	link(rel="stylesheet", href="/css/styles.css")
block scripts
	script(src="/js/main.js") 

block main
	.container
		.container-inner
			include ./components/_switch
			include ./components/_form
	