@import '../components/search-input';
@import '../components/custom-select';
@import '../components/form';

.lookup-dictionary {
	margin-top: 3rem;

	.lookup-form {
		max-width: 38rem;

		margin-right: auto;
		margin-left: auto;
	}
}
