extends ./_layout.pug

block styles
	link(rel="stylesheet", href="/css/index.css")
block scripts
	script(src="/js/main.js") 

block main
	include ./components/_switch
	section.lookup-dictionary
		.container
			include ./components/_form
	