extends ./_layout.pug

block styles
	link(rel="stylesheet", href="/static/css/index.css")
block scripts
	script(src="/static/js/main.js") 

block main
	include ./components/_switch
	section.lookup-dictionary
		.container
			include ./components/_form
	